.container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 100px 150px 100px;
  gap: 10px;
  max-width: 800px;
  margin: 40px auto;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  padding: 10px;
   border: 3px solid #111;
}

.header {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  background: #f39c12;
  color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  border-radius: 10px;
}

.main {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background: #5dade2;
  color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: 10px;
}

.empty {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background: #fff;
  color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: 10px;
  border: 2px dashed #ccc;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
}

.sidebar {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  background: #e57373;
  color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: 10px;
}

.footer {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  background: #58d68d;
  color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  border-radius: 10px;
}